@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
	padding-top: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

h4 {
	font-size: 1.2em;
	padding: 0px;
	margin: 0px;
}

html, body {
	font-family: "Arial", Helvetica, sans-serif !important;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#logo {
	margin-left: 10px;
}

#category-list li.active{
	background: #3395DA;
	color: #ffffff;
}

#category-list li.active>a{
	color: #ffffff;
}

#subcategory-list {
	list-style-type: none;
}

#subcategory-list a:hover {
	background: #DFDFDF;
}

#subcategory-list img{
	width: 100%;
}

#subcategory-list li {
	margin-bottom: 20px;
}

#featured-header {
	border-top: 1px solid #002B5C;
	padding-top: 10px;
	margin-bottom: 20px;
}

.products-wrapper {
	margin-bottom: 40px;
}
div.clear {
	clear:both;
}
div.product-wrapper{
	margin: 10px;
  height: 170px;
  width: 20%;
  float: left;
  text-align: center;
}
div.product-img {
	border: 1px solid #dddddd;
	height:150px

}
div.product-wrapper img{
	display: inline;
  margin: 3px;
}
div.product-desc {
	vertical-align:text-bottom;
}
.shop-wrapper {
	background: #DFDFDF;
	padding: 20px 0px;
	text-align: center;
}

#footer {
	margin-top: 40px;
	margin-bottom: 60px;
	padding: 10px 0px;
	border-top: 1px solid #002B5C;
}

#footer div{
	margin-bottom: 20px;
}

#city-wrapper {
	//border-left: 1px solid #002B5C;
	margin-right: 10px;
	padding: 5px 15px 0px 10px;
}

#city-wrapper label {
	float: left;
	padding: 5px 15px 0px 0px;
	color: #333333;
}

#city-wrapper select {
	float: left;
	color: #333333;
	text-decoration: none;
	text-shadow: none;
}

#search-wrapper {
	padding: 5px 15px 0px 10px;
}

#search-wrapper input {
	color: #333333;
	text-decoration: none;
	text-shadow: none;
}

#search-wrapper button {
	margin-top: 0px;
	color: #333333;
	text-decoration: none;
	text-shadow: none;
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */
.input-form{
	input, textarea, select, .uneditable-input {
	  border: 1px solid #bbb;
	  width: 100%;
	  padding: 10px;
	  margin-bottom: 15px;
	  @include box_sizing;
	}
	input {
	  height: auto !important;
	}
}
/*Bootstrap-custom*/
.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #002B5C !important;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius:0px;
  filter: none;
  *zoom: 1;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #333333;
	text-decoration: none;
	text-shadow: none;
}

.navbar .brand {
	color: #333
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
  textarea {
  	border-color: #b94a48;
  	color: #b94a48;
  }
}
.btn {
	float: none;
	vertical-align: top;

	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
/* users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
	} 
}
.footer {
	margin-top: 50px;
	padding-top: 50px;
}
/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	-webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.img-polaroid {
	padding: 0px;
}

form {
	margin: 0px;
}

.dl-menuwrapper {
	
}