<p id="notice"><%= notice %></p>

<table class="table">
  <tr>
    <th>Product</th>
    <th>Status</th>
    <th>Quantity</th>
  </tr>
  <tr>
  	<td><%= link_to Product.find(@line_item.product_id).name, product_path(@line_item.product_id) %></td>
  	<td><%= @line_item.status %></td>
  	<td><%= @line_item.quantity %></td>
	</tr>
</table>
