
<footer class="footer">
		<div class="row">
			<div id="footer" class="span12">
				<div class="row">
					<div class="span3">
						<h4>ABOUT</h4>
						<ul>	
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">What is MmShops?</a></span></li>
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">Career</a></span></li>
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">Partnership</a></span></li>
						</ul>
					</div>

					<div class="span3">
						<h4>BUY &amp; SELL</h4>
						<ul>	
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">How to Shop</a></span></li>
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">How to Sell</a></span></li>
						</ul>
					</div>

					<div class="span3">
						<h4>HELP</h4>
						<ul>	
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">Terms &amp; Conditions</a></span></li>
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">Privacy Policy</a></span></li>
							<li><span><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#">Contact Us</a></span></li>
						</ul>
					</div>

					<div class="span3">
						2013 © MMSHOPS
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>