<header>
<div class="row">
			<div class="navbar navbar-fixed-top">		
					<div class="navbar-inner">

						<a id="logo" href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#" class="brand">MMSHOPS</a>
						<div class="nav-collapse collapse">
							<ul class="nav pull-right">
								<li>
									<div id="city-wrapper">
										<label for="city">Choose your city</label>
										<select name="city">
											<option>Yangon</option>
											<option>Mandalay</option>
											<option>Naypyidaw</option>
										</select>
									</div>				
								</li>
								<li>
									<div id="search-wrapper">										
										<input type="text" class="input-large" placeholder="Search products">
										<button type="submit" class="btn">Search</button>			
									</div>
								</li>
								<li><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#"><i class="icon-user"></i>SIGN IN</a></li>
								<li><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#"><i class="icon-tag"></i>SELL</a></li>
								<li><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#"><i class="icon-shopping-cart"></i>SHOPPING BAG</a></li>
							</ul>
						</div>
					</div>
			</div>
		</div>
</header>

			<div class="span12">
				<h4>CATEGORIES</h4>
			</div>
			<div class="span3">
				<div>
					<ul id="category-list">
						<li class="active"><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#women-fashion" data-toggle="tab"><i class="icon-chevron-right"></i> Womens' Fashion</a></li>
						<li><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#women-fashion" data-toggle="tab"><i class="icon-chevron-right"></i> Electronics</a></li>
						<li><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#women-fashion" data-toggle="tab"><i class="icon-chevron-right"></i> Computers &amp; Electronics</a></li>
						<li class=""><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#phone-accessory" data-toggle="tab"><i class="icon-chevron-right"></i> Phones' Accessory</a></li>
						<li class=""><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#phone-accessory" data-toggle="tab"><i class="icon-chevron-right"></i> Cars' Accessory</a></li>
					</ul>
				</div>
			</div>
			<div class="span9">
