
<div class="span3">
<div id="dl-menu" class="dl-menuwrapper">


    <!-- Have Some Unordered List with an id -->
<ul id="nav" >
  <h4>CATEGORIES</h4>
  <% Category.roots.each do |root| %> 
    <%= generate_child(root) %>
  <% end %>
</ul>

</div>
</div>
