<div class="span3">
  <div>
    <ul id="category-list">
      <li class="active"><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#women-fashion" data-toggle="tab"><i class="icon-chevron-right"></i> Womens' Fashion</a></li>
      <li><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#women-fashion" data-toggle="tab"><i class="icon-chevron-right"></i> Electronics</a></li>
      <li><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#women-fashion" data-toggle="tab"><i class="icon-chevron-right"></i> Computers &amp; Electronics</a></li>
      <li class=""><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#phone-accessory" data-toggle="tab"><i class="icon-chevron-right"></i> Phones' Accessory</a></li>
      <li class=""><a href="https://dl.dropboxusercontent.com/u/25122693/MmShops/index.html#phone-accessory" data-toggle="tab"><i class="icon-chevron-right"></i> Cars' Accessory</a></li>
    </ul>
  </div>
</div>